<h1>Aplicacion has and belong to many</h1>
<p>Emiliano Chequer</p>
<tbody>
	<td>
		<th><%= link_to "Workers", workers_path%></th>
		<th><%= link_to "Projects",projects_path%></th>
		<th><%= link_to "Products", products_path%></th>
	</td>
</tbody>